/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #f2f2f2;
  padding: 2.5% 20% 0 20%;
}

/* Center the content */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the header */
.header {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* Style the navigation menu */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  list-style-type: none;
}

nav a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #666;
}

/* Style the main content section */
section {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  color: #333;
}

h2 {
  margin-bottom: 20px;

}

p {
  margin-bottom: 20px;
}

#achievements {
  padding-left: 5%;
}

/* Style the footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}